name: .NET CI - Cities Manager

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"   # Change if your project uses 6.0 or 7.0

      - name: Restore Dependencies
        run: dotnet restore CitiesManagerSolution.sln

      - name: Build Solution
        run: dotnet build CitiesManagerSolution.sln --configuration Release --no-restore
      - name: After Build echo message
        run: echo "Build completed successfully."